@media screen and (max-width: 1600px){


    .login{
        width: 100%;
       height: auto;
    }

}
@media screen and (max-width: 768px){


    .login-box {
        width: 70%;
        color: #fff;
        margin: 0 auto;
    }

}
@media screen and (max-width: 500px){


    .login-box {
        width: 95%;
        color: #fff;
        margin: 0 auto;
    }

}

